In [1]:
import pandas as pd
df_train = pd.read_csv("ML_Artivatic_dataset/train_indessa.csv")

df_test = pd.read_csv("ML_Artivatic_dataset/test_indessa.csv")
print(df_train.shape)

(532428, 45)

In [2]:

drop_columns = []
thresold_freq = 0.75 * df_train.shape[0]
for cols in list(df_train.columns):
    if (df_train[cols].isna().sum())  > thresold_freq:
        drop_columns.append(cols)

print(drop_columns)

['desc', 'mths_since_last_record', 'mths_since_last_major_derog', 'verification_status_joint']

In [3]:

object_data = df_train.select_dtypes(include = ['object']).columns
print(object_data)

object_data = df_test.select_dtypes(include = ['object']).columns
print(object_data)

Index(['term', 'batch_enrolled', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'verification_status', 'pymnt_plan',
       'desc', 'purpose', 'title', 'zip_code', 'addr_state',
       'initial_list_status', 'application_type', 'verification_status_joint',
       'last_week_pay'],
      dtype='object')
Index(['term', 'batch_enrolled', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'verification_status', 'pymnt_plan',
       'desc', 'purpose', 'title', 'zip_code', 'addr_state',
       'initial_list_status', 'application_type', 'verification_status_joint',
       'last_week_pay'],
      dtype='object')

In [4]:

key = object_data[0]
print("Value Counts of key : ",key)
print(df_train[key].value_counts())
df_train[key].replace(to_replace = " months", value = "", regex = True, inplace=True)

print("Value Counts of key : ",key)
print(df_train[key])

df_train[key] = pd.to_numeric(df_train[key], errors='coerce')
df_test[key].replace(to_replace = " months", value = "", regex = True, inplace=True)

# print("Value Counts of key : ",key)
# print(df_test[key])

df_test[key] = pd.to_numeric(df_test[key], errors='coerce')

Value Counts of key :  term
36 months    372793
60 months    159635
Name: term, dtype: int64
Value Counts of key :  term
0         36
1         36
2         36
3         36
4         36
          ..
532423    36
532424    60
532425    60
532426    60
532427    36
Name: term, Length: 532428, dtype: object

In [5]:

key = object_data[1]
print("Value Counts of key : ",key)
print(df_train[key].value_counts())
drop_columns.append(key)
drop_columns

Value Counts of key :  batch_enrolled
              106079
BAT2252229     18791
BAT3873588     17839
BAT2803411     17111
BAT2078974     14859
               ...
BAT4347689        30
BAT4884699        29
BAT5869156        26
BAT5077496        18
BAT2331079        13
Name: batch_enrolled, Length: 104, dtype: int64

['desc',
 'mths_since_last_record',
 'mths_since_last_major_derog',
 'verification_status_joint',
 'batch_enrolled']

In [6]:

key = object_data[2]
print("Value Counts of key : ",key)
print(df_train[key].value_counts())
df_train[key].replace(to_replace='A', value='0', regex=True, inplace=True)
df_train[key].replace(to_replace='B', value='1', regex=True, inplace=True)
df_train[key].replace(to_replace='C', value='2', regex=True, inplace=True)
df_train[key].replace(to_replace='D', value='3', regex=True, inplace=True)
df_train[key].replace(to_replace='E', value='4', regex=True, inplace=True)
df_train[key].replace(to_replace='F', value='5', regex=True, inplace=True)
df_train[key].replace(to_replace='G', value='6', regex=True, inplace=True)

print("Value Counts of key : ",key)
print(df_train[key].value_counts())

df_train[key] = pd.to_numeric(df_train[key], errors='coerce')


df_test[key].replace(to_replace='A', value='0', regex=True, inplace=True)
df_test[key].replace(to_replace='B', value='1', regex=True, inplace=True)
df_test[key].replace(to_replace='C', value='2', regex=True, inplace=True)
df_test[key].replace(to_replace='D', value='3', regex=True, inplace=True)
df_test[key].replace(to_replace='E', value='4', regex=True, inplace=True)
df_test[key].replace(to_replace='F', value='5', regex=True, inplace=True)
df_test[key].replace(to_replace='G', value='6', regex=True, inplace=True)

df_test[key] = pd.to_numeric(df_test[key], errors='coerce')

Value Counts of key :  grade
B    152713
C    147499
A     89107
D     83567
E     42495
F     13826
G      3221
Name: grade, dtype: int64
Value Counts of key :  grade
1    152713
2    147499
0     89107
3     83567
4     42495
5     13826
6      3221
Name: grade, dtype: int64

In [7]:

key = object_data[3]
print("Value Counts of key : ",key)
print(df_train[key].value_counts())
df_train[key].replace(to_replace='A', value='0', regex=True, inplace=True)
df_train[key].replace(to_replace='B', value='1', regex=True, inplace=True)
df_train[key].replace(to_replace='C', value='2', regex=True, inplace=True)
df_train[key].replace(to_replace='D', value='3', regex=True, inplace=True)
df_train[key].replace(to_replace='E', value='4', regex=True, inplace=True)
df_train[key].replace(to_replace='F', value='5', regex=True, inplace=True)
df_train[key].replace(to_replace='G', value='6', regex=True, inplace=True)
print("Value Counts of key : ",key)
print(df_train[key].value_counts())
df_train[key] = pd.to_numeric(df_train[key], errors='coerce')


df_test[key].replace(to_replace='A', value='0', regex=True, inplace=True)
df_test[key].replace(to_replace='B', value='1', regex=True, inplace=True)
df_test[key].replace(to_replace='C', value='2', regex=True, inplace=True)
df_test[key].replace(to_replace='D', value='3', regex=True, inplace=True)
df_test[key].replace(to_replace='E', value='4', regex=True, inplace=True)
df_test[key].replace(to_replace='F', value='5', regex=True, inplace=True)
df_test[key].replace(to_replace='G', value='6', regex=True, inplace=True)

df_test[key] = pd.to_numeric(df_test[key], errors='coerce')

Value Counts of key :  sub_grade
B3    33844
B4    33198
C1    31975
C2    31356
C3    30080
B2    29390
B5    29313
C4    29103
A5    27016
B1    26968
C5    24985
D1    21712
A4    20823
D2    17991
D3    15771
D4    15226
A3    14082
A1    13653
A2    13533
D5    12867
E1    10928
E2    10255
E3     8488
E4     7051
E5     5773
F1     4350
F2     3196
F3     2708
F4     2056
F5     1516
G1     1112
G2      824
G3      559
G4      391
G5      335
Name: sub_grade, dtype: int64
Value Counts of key :  sub_grade
13    33844
14    33198
21    31975
22    31356
23    30080
12    29390
15    29313
24    29103
05    27016
11    26968
25    24985
31    21712
04    20823
32    17991
33    15771
34    15226
03    14082
01    13653
02    13533
35    12867
41    10928
42    10255
43     8488
44     7051
45     5773
51     4350
52     3196
53     2708
54     2056
55     1516
61     1112
62      824
63      559
64      391
65      335
Name: sub_grade, dtype: int64

In [8]:

key = object_data[4]
print("Value Counts of key : ",key)
print(len(df_train[key].values))
drop_columns.append(key)
drop_columns

Value Counts of key :  emp_title
532428

['desc',
 'mths_since_last_record',
 'mths_since_last_major_derog',
 'verification_status_joint',
 'batch_enrolled',
 'emp_title']

In [9]:

key = object_data[5]
print("Value Counts of key : ",key)
print(df_train[key].value_counts())
df_train[key].replace(to_replace='\+ years', value='', regex=True, inplace=True)
df_train[key].replace(to_replace=' years', value='', regex=True, inplace=True)
df_train[key].replace(to_replace='< 1 year', value='0', regex=True, inplace=True)
df_train[key].replace(to_replace=' year', value='', regex=True, inplace=True)

print("Value Counts of key : ",key)
print(df_train[key].value_counts())
df_train[key] = pd.to_numeric(df_train[key], errors='coerce')


df_test[key].replace(to_replace='\+ years', value='', regex=True, inplace=True)
df_test[key].replace(to_replace=' years', value='', regex=True, inplace=True)
df_test[key].replace(to_replace='< 1 year', value='0', regex=True, inplace=True)
df_test[key].replace(to_replace=' year', value='', regex=True, inplace=True)


df_test[key] = pd.to_numeric(df_test[key], errors='coerce')

Value Counts of key :  emp_length
10+ years    175105
2 years       47276
< 1 year      42253
3 years       42175
1 year        34202
5 years       33393
4 years       31581
7 years       26680
8 years       26443
6 years       25741
9 years       20688
Name: emp_length, dtype: int64
Value Counts of key :  emp_length
10    175105
2      47276
0      42253
3      42175
1      34202
5      33393
4      31581
7      26680
8      26443
6      25741
9      20688
Name: emp_length, dtype: int64

In [10]:

key = object_data[6]
print("Value Counts of key : ",key)
print(df_train[key].value_counts())
df_train[key].replace(to_replace='ANY', value='0', regex=True, inplace=True)
df_train[key].replace(to_replace='NONE', value='1', regex=True, inplace=True)
            
df_train[key].replace(to_replace='OTHER', value='2', regex=True, inplace=True)
df_train[key].replace(to_replace='OWN', value='3', regex=True, inplace=True)
df_train[key].replace(to_replace='RENT', value='4', regex=True, inplace=True)
df_train[key].replace(to_replace='MORTGAGE', value='5', regex=True, inplace=True)
print("Value Counts of key : ",key)
print(df_train[key].value_counts())
df_train[key] = pd.to_numeric(df_train[key], errors='coerce')


df_test[key].replace(to_replace='ANY', value='0', regex=True, inplace=True)
df_test[key].replace(to_replace='NONE', value='1', regex=True, inplace=True)
            
df_test[key].replace(to_replace='OTHER', value='2', regex=True, inplace=True)
df_test[key].replace(to_replace='OWN', value='3', regex=True, inplace=True)
df_test[key].replace(to_replace='RENT', value='4', regex=True, inplace=True)
df_test[key].replace(to_replace='MORTGAGE', value='5', regex=True, inplace=True)

df_test[key] = pd.to_numeric(df_test[key], errors='coerce')

Value Counts of key :  home_ownership
MORTGAGE    265940
RENT        213668
OWN          52664
OTHER          117
NONE            36
ANY              3
Name: home_ownership, dtype: int64
Value Counts of key :  home_ownership
5    265940
4    213668
3     52664
2       117
1        36
0         3
Name: home_ownership, dtype: int64

In [11]:

key = object_data[7]
print("Value Counts of key : ",key)
print(df_train[key].value_counts())

df_train[key].replace(to_replace='Source Verified', value='2', regex=True, inplace=True)
df_train[key].replace(to_replace='Not Verified', value='0', regex=True, inplace=True)
df_train[key].replace(to_replace='Verified', value='1', regex=True, inplace=True)


print("Value Counts of key : ",key)
print(df_train[key].value_counts())
df_train[key] = pd.to_numeric(df_train[key], errors='coerce')


df_test[key].replace(to_replace='Source Verified', value='2', regex=True, inplace=True)
df_test[key].replace(to_replace='Not Verified', value='0', regex=True, inplace=True)
df_test[key].replace(to_replace='Verified', value='1', regex=True, inplace=True)


df_test[key] = pd.to_numeric(df_test[key], errors='coerce')

Value Counts of key :  verification_status
Source Verified    197750
Verified           174702
Not Verified       159976
Name: verification_status, dtype: int64
Value Counts of key :  verification_status
2    197750
1    174702
0    159976
Name: verification_status, dtype: int64

In [12]:

key = object_data[8]
print("Value Counts of key : ",key)
print(df_train[key].value_counts())
df_train[key].replace(to_replace='n', value='0', regex=True, inplace=True)
df_train[key].replace(to_replace='y', value='1', regex=True, inplace=True)


print("Value Counts of key : ",key)
print(df_train[key].value_counts())
df_train[key] = pd.to_numeric(df_train[key], errors='coerce')

df_test[key].replace(to_replace='n', value='0', regex=True, inplace=True)
df_test[key].replace(to_replace='y', value='1', regex=True, inplace=True)

df_test[key] = pd.to_numeric(df_test[key], errors='coerce')

Value Counts of key :  pymnt_plan
n    532420
y         8
Name: pymnt_plan, dtype: int64
Value Counts of key :  pymnt_plan
0    532420
1         8
Name: pymnt_plan, dtype: int64

In [13]:

key = object_data[9]
print("Value Counts of key : ",key)
print(df_train[key].value_counts())
drop_columns.append(key)
drop_columns

Value Counts of key :  desc
> Debt consolidation<br>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              576
> Debt Consolidation<br>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              372
> debt consolidation<br>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              347
> Debt consolidation.<br>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             131
> Pay off credit cards<br>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            122
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ...
> we need to pave our driveway is it all broken up and someone can fall on it<br>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
> This loan is for a debt reduction and to pay off some unexpected expenses. I have decent credit and am not late on any bills.  I am employed full time and have been at the same place of employed for over 7 years.<br>                                                                                                                                                                                                                                                                                                                                                                                                                                                              1
   > Need some extra money to buy my girlfriend the engagement ring of her dreams. I have a good job with a good salary, but don't have the extra cash laying around at the moment.<br><br>   > This is the ring: Hearts on Fire Beloved Open Gallery Engagement Ring (couldn't post the link)<br>                                                                                                                                                                                                                                                                                                                                                                                      1
> Im a full time bartender at a locally own family restaurant that has been open for 20 plus years.  I've been working there for 6 years and i actually work with my older sister that has been there for 10 years. I am one 3 bartenders and one of the highest payed front of the house employees. Im using the loan to avoid the super high interest rates. Ive been on my own since i was 18(now 25)and collected some debt and have been trying to pay the cards off. I plan on making larger payments or extra ones cause i'm trying to repay the loan super fast so i can be debt free and then hopefully start investing back into the club so i can make some money!<br/>      1
> Consolidation of debt with payment over a fixed period.<br>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1
Name: desc, Length: 70638, dtype: int64

['desc',
 'mths_since_last_record',
 'mths_since_last_major_derog',
 'verification_status_joint',
 'batch_enrolled',
 'emp_title',
 'desc']

In [14]:

key = object_data[10]
print("Value Counts of key : ",key)
print(df_train[key].value_counts())
df_train[key].replace(to_replace='other', value='0', regex=True, inplace=True)
df_train[key].replace(to_replace='educational', value='1', regex=True, inplace=True)
df_train[key].replace(to_replace='renewable_energy', value='2', regex=True, inplace=True)
df_train[key].replace(to_replace='wedding', value='3', regex=True, inplace=True)
df_train[key].replace(to_replace='house', value='4', regex=True, inplace=True)
df_train[key].replace(to_replace='vacation', value='5', regex=True, inplace=True)
df_train[key].replace(to_replace='moving', value='6', regex=True, inplace=True)
df_train[key].replace(to_replace='medical', value='7', regex=True, inplace=True)
df_train[key].replace(to_replace='car', value='8', regex=True, inplace=True)
df_train[key].replace(to_replace='small_business', value='9', regex=True, inplace=True)
df_train[key].replace(to_replace='major_purchase', value='10', regex=True, inplace=True)
df_train[key].replace(to_replace='home_improvement', value='11', regex=True, inplace=True)
df_train[key].replace(to_replace='credit_8d', value='12', regex=True, inplace=True)
df_train[key].replace(to_replace='debt_consolidation', value='13', regex=True, inplace=True)
print(df_train[key].value_counts())
df_train[key] = pd.to_numeric(df_train[key], errors='coerce')



df_test[key].replace(to_replace='other', value='0', regex=True, inplace=True)
df_test[key].replace(to_replace='educational', value='1', regex=True, inplace=True)
df_test[key].replace(to_replace='renewable_energy', value='2', regex=True, inplace=True)
df_test[key].replace(to_replace='wedding', value='3', regex=True, inplace=True)
df_test[key].replace(to_replace='house', value='4', regex=True, inplace=True)
df_test[key].replace(to_replace='vacation', value='5', regex=True, inplace=True)
df_test[key].replace(to_replace='moving', value='6', regex=True, inplace=True)
df_test[key].replace(to_replace='medical', value='7', regex=True, inplace=True)
df_test[key].replace(to_replace='car', value='8', regex=True, inplace=True)
df_test[key].replace(to_replace='small_business', value='9', regex=True, inplace=True)
df_test[key].replace(to_replace='major_purchase', value='10', regex=True, inplace=True)
df_test[key].replace(to_replace='home_improvement', value='11', regex=True, inplace=True)
df_test[key].replace(to_replace='credit_8d', value='12', regex=True, inplace=True)
df_test[key].replace(to_replace='debt_consolidation', value='13', regex=True, inplace=True)

df_test[key] = pd.to_numeric(df_test[key], errors='coerce')

Value Counts of key :  purpose
debt_consolidation    314989
credit_card           123670
home_improvement       31087
other                  25652
major_purchase         10284
small_business          6146
car                     5266
medical                 5117
moving                  3243
vacation                2812
house                   2170
wedding                 1401
renewable_energy         331
educational              260
Name: purpose, dtype: int64
13    314989
12    123670
11     31087
0      25652
10     10284
9       6146
8       5266
7       5117
6       3243
5       2812
4       2170
3       1401
2        331
1        260
Name: purpose, dtype: int64

In [15]:

key = object_data[11]
print("Value Counts of key : ",key)
print(df_train[key].value_counts())
drop_columns.append(key)
drop_columns

Value Counts of key :  title
Debt consolidation                  248967
Credit card refinancing              98582
Home improvement                     24057
Other                                19053
Debt Consolidation                    9932
                                     ...
no bills                                 1
debt consolidation & home imprv.         1
Private Student Loans                    1
New HOm                                  1
Taking My Finances Back                  1
Name: title, Length: 39693, dtype: int64

['desc',
 'mths_since_last_record',
 'mths_since_last_major_derog',
 'verification_status_joint',
 'batch_enrolled',
 'emp_title',
 'desc',
 'title']

In [16]:

key = object_data[12]
print("Value Counts of key : ",key)
print(df_train[key].value_counts())
df_train[key].replace(to_replace='xx', value='', regex=True, inplace=True)
print(df_train[key].value_counts())

df_train[key] = pd.to_numeric(df_train[key], errors='coerce')

df_test[key].replace(to_replace='xx', value='', regex=True, inplace=True)


df_test[key] = pd.to_numeric(df_test[key], errors='coerce')

Value Counts of key :  zip_code
945xx    5845
750xx    5680
112xx    5632
606xx    5176
300xx    4757
         ...
854xx       1
819xx       1
522xx       1
340xx       1
523xx       1
Name: zip_code, Length: 917, dtype: int64
945    5845
750    5680
112    5632
606    5176
300    4757
       ...
888       1
835       1
507       1
682       1
649       1
Name: zip_code, Length: 917, dtype: int64

In [17]:

key = object_data[13]
print("Value Counts of key : ",key)
print(df_train[key].value_counts())
# address_country = pd.get_dummies(df_train[key] , prefix = "address_")
# df_train = pd.concat([df_train,address_country])
df_train[key].replace(to_replace='A', value='0', regex=True, inplace=True)
df_train[key].replace(to_replace='B', value='1', regex=True, inplace=True)
df_train[key].replace(to_replace='C', value='2', regex=True, inplace=True)
df_train[key].replace(to_replace='D', value='3', regex=True, inplace=True)
df_train[key].replace(to_replace='E', value='4', regex=True, inplace=True)
df_train[key].replace(to_replace='F', value='5', regex=True, inplace=True)
df_train[key].replace(to_replace='G', value='6', regex=True, inplace=True)
df_train[key].replace(to_replace='H', value='7', regex=True, inplace=True)
df_train[key].replace(to_replace='I', value='8', regex=True, inplace=True)
df_train[key].replace(to_replace='J', value='9', regex=True, inplace=True)
df_train[key].replace(to_replace='K', value='10', regex=True, inplace=True)
df_train[key].replace(to_replace='L', value='11', regex=True, inplace=True)
df_train[key].replace(to_replace='M', value='12', regex=True, inplace=True)
df_train[key].replace(to_replace='N', value='13', regex=True, inplace=True)
df_train[key].replace(to_replace='O', value='14', regex=True, inplace=True)
df_train[key].replace(to_replace='P', value='15', regex=True, inplace=True)
df_train[key].replace(to_replace='Q', value='16', regex=True, inplace=True)
df_train[key].replace(to_replace='R', value='17', regex=True, inplace=True)
df_train[key].replace(to_replace='S', value='18', regex=True, inplace=True)
df_train[key].replace(to_replace='T', value='19', regex=True, inplace=True)
df_train[key].replace(to_replace='U', value='20', regex=True, inplace=True)
df_train[key].replace(to_replace='V', value='21', regex=True, inplace=True)
df_train[key].replace(to_replace='W', value='22', regex=True, inplace=True)
df_train[key].replace(to_replace='X', value='23', regex=True, inplace=True)
df_train[key].replace(to_replace='Y', value='24', regex=True, inplace=True)
df_train[key].replace(to_replace='Z', value='25', regex=True, inplace=True)
print(df_train[key].value_counts())

df_train[key] = pd.to_numeric(df_train[key], errors='coerce')


df_test[key].replace(to_replace='A', value='0', regex=True, inplace=True)
df_test[key].replace(to_replace='B', value='1', regex=True, inplace=True)
df_test[key].replace(to_replace='C', value='2', regex=True, inplace=True)
df_test[key].replace(to_replace='D', value='3', regex=True, inplace=True)
df_test[key].replace(to_replace='E', value='4', regex=True, inplace=True)
df_test[key].replace(to_replace='F', value='5', regex=True, inplace=True)
df_test[key].replace(to_replace='G', value='6', regex=True, inplace=True)
df_test[key].replace(to_replace='H', value='7', regex=True, inplace=True)
df_test[key].replace(to_replace='I', value='8', regex=True, inplace=True)
df_test[key].replace(to_replace='J', value='9', regex=True, inplace=True)
df_test[key].replace(to_replace='K', value='10', regex=True, inplace=True)
df_test[key].replace(to_replace='L', value='11', regex=True, inplace=True)
df_test[key].replace(to_replace='M', value='12', regex=True, inplace=True)
df_test[key].replace(to_replace='N', value='13', regex=True, inplace=True)
df_test[key].replace(to_replace='O', value='14', regex=True, inplace=True)
df_test[key].replace(to_replace='P', value='15', regex=True, inplace=True)
df_test[key].replace(to_replace='Q', value='16', regex=True, inplace=True)
df_test[key].replace(to_replace='R', value='17', regex=True, inplace=True)
df_test[key].replace(to_replace='S', value='18', regex=True, inplace=True)
df_test[key].replace(to_replace='T', value='19', regex=True, inplace=True)
df_test[key].replace(to_replace='U', value='20', regex=True, inplace=True)
df_test[key].replace(to_replace='V', value='21', regex=True, inplace=True)
df_test[key].replace(to_replace='W', value='22', regex=True, inplace=True)
df_test[key].replace(to_replace='X', value='23', regex=True, inplace=True)
df_test[key].replace(to_replace='Y', value='24', regex=True, inplace=True)
df_test[key].replace(to_replace='Z', value='25', regex=True, inplace=True)

df_test[key] = pd.to_numeric(df_test[key], errors='coerce')

Value Counts of key :  addr_state
CA    77911
NY    44406
TX    42527
FL    36575
IL    21205
NJ    20103
PA    18882
OH    17778
GA    17292
VA    15826
NC    14812
MI    13869
MD    12667
MA    12385
AZ    12320
WA    11664
CO    11233
MN     9577
MO     8538
IN     8197
CT     8075
TN     7817
NV     7408
WI     6880
AL     6699
OR     6549
SC     6331
LA     6304
KY     5140
KS     4818
OK     4797
AR     3988
UT     3829
NM     2958
HI     2705
WV     2615
NH     2568
RI     2322
MS     2296
MT     1545
DE     1512
DC     1477
AK     1346
WY     1198
SD     1091
VT     1062
NE      709
ME      324
ND      284
IA        7
ID        7
Name: addr_state, dtype: int64
20      77911
1324    44406
1923    42527
511     36575
811     21205
139     20103
150     18882
147     17778
60      17292
210     15826
132     14812
128     13869
123     12667
120     12385
025     12320
220     11664
214     11233
1213     9577
1214     8538
813      8197
219      8075
1913     7817
1321     7408
228      6880
011      6699
1417     6549
182      6331
110      6304
1024     5140
1018     4818
1410     4797
017      3988
2019     3829
1312     2958
78       2705
2221     2615
137      2568
178      2322
1218     2296
1219     1545
34       1512
32       1477
010      1346
2224     1198
183      1091
2119     1062
134       709
124       324
133       284
83          7
80          7
Name: addr_state, dtype: int64

In [18]:

key = object_data[14]
print("Value Counts of key : ",key)
print(df_train[key].value_counts())
df_train[key].replace(to_replace='f', value='0', regex=True, inplace=True)
df_train[key].replace(to_replace='w', value='1', regex=True, inplace=True)
print(df_train[key].value_counts())
df_train[key] = pd.to_numeric(df_train[key], errors='coerce')


df_test[key].replace(to_replace='f', value='0', regex=True, inplace=True)
df_test[key].replace(to_replace='w', value='1', regex=True, inplace=True)

df_test[key] = pd.to_numeric(df_test[key], errors='coerce')

Value Counts of key :  initial_list_status
f    274018
w    258410
Name: initial_list_status, dtype: int64
0    274018
1    258410
Name: initial_list_status, dtype: int64

In [19]:

key = object_data[15]
print("Value Counts of key : ",key)
print(df_train[key].value_counts())
df_train[key].replace(to_replace='INDIVIDUAL', value='0', regex=True, inplace=True)
df_train[key].replace(to_replace='JOINT', value='1', regex=True, inplace=True)
print(df_train[key].value_counts())
df_train[key] = pd.to_numeric(df_train[key], errors='coerce')


df_test[key].replace(to_replace='INDIVIDUAL', value='0', regex=True, inplace=True)
df_test[key].replace(to_replace='JOINT', value='1', regex=True, inplace=True)

df_test[key] = pd.to_numeric(df_test[key], errors='coerce')

Value Counts of key :  application_type
INDIVIDUAL    532123
JOINT            305
Name: application_type, dtype: int64
0    532123
1       305
Name: application_type, dtype: int64

In [20]:

key = object_data[16]
print("Value Counts of key : ",key)
print(df_train[key].value_counts())
df_train[key].replace(to_replace='Not Verified', value='0', regex=True, inplace=True)
df_train[key].replace(to_replace='Verified', value='1', regex=True, inplace=True)
df_train[key].replace(to_replace='Source Verified', value='2', regex=True, inplace=True)

print(df_train[key].value_counts())
df_train[key] = pd.to_numeric(df_train[key], errors='coerce')

df_test[key].replace(to_replace='Not Verified', value='0', regex=True, inplace=True)
df_test[key].replace(to_replace='Verified', value='1', regex=True, inplace=True)
df_test[key].replace(to_replace='Source Verified', value='2', regex=True, inplace=True)

df_test[key] = pd.to_numeric(df_test[key], errors='coerce')

Value Counts of key :  verification_status_joint
Not Verified       170
Verified           102
Source Verified     33
Name: verification_status_joint, dtype: int64
0           170
1           102
Source 1     33
Name: verification_status_joint, dtype: int64

In [21]:

key = object_data[17]
print("Value Counts of key : ",key)
print(df_train[key].value_counts())
df_train[key].replace(to_replace='th week', value='', regex=True, inplace=True)

print(df_train[key].value_counts())

df_train[key] = pd.to_numeric(df_train[key], errors='coerce')

df_test[key].replace(to_replace='th week', value='', regex=True, inplace=True)


df_test[key] = pd.to_numeric(df_test[key], errors='coerce')

Value Counts of key :  last_week_pay
13th week     30333
9th week      28626
26th week     27475
22th week     26000
4th week      25704
              ...
300th week        1
304th week        1
278th week        1
274th week        1
283th week        1
Name: last_week_pay, Length: 98, dtype: int64
13     30333
9      28626
26     27475
22     26000
4      25704
       ...
269        1
300        1
274        1
304        1
278        1
Name: last_week_pay, Length: 98, dtype: int64

In [22]:
df_train = df_train.drop(columns = drop_columns)
df_test = df_test.drop(columns = drop_columns)

In [23]:
df_train.columns

Index(['member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term',
       'int_rate', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'pymnt_plan', 'purpose',
       'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'inq_last_6mths',
       'mths_since_last_delinq', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'collections_12_mths_ex_med', 'application_type', 'last_week_pay',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim',
       'loan_status'],
      dtype='object')

In [24]:

object_data = df_train.select_dtypes(include = ['object']).columns
print(object_data)

object_data = df_test.select_dtypes(include = ['object']).columns
print(object_data)

Index([], dtype='object')
Index([], dtype='object')

In [25]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532428 entries, 0 to 532427
Data columns (total 38 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   member_id                   532428 non-null  int64
 1   loan_amnt                   532428 non-null  int64
 2   funded_amnt                 532428 non-null  int64
 3   funded_amnt_inv             532428 non-null  float64
 4   term                        532428 non-null  int64
 5   int_rate                    532428 non-null  float64
 6   grade                       532428 non-null  int64
 7   sub_grade                   532428 non-null  int64
 8   emp_length                  505537 non-null  float64
 9   home_ownership              532428 non-null  int64
 10  annual_inc                  532425 non-null  float64
 11  verification_status         532428 non-null  int64
 12  pymnt_plan                  532428 non-null  int64
 13  purpose                     532428 non-null  int64
 14  zip_code                    532428 non-null  int64
 15  addr_state                  532428 non-null  int64
 16  dti                         532428 non-null  float64
 17  delinq_2yrs                 532412 non-null  float64
 18  inq_last_6mths              532412 non-null  float64
 19  mths_since_last_delinq      259874 non-null  float64
 20  open_acc                    532412 non-null  float64
 21  pub_rec                     532412 non-null  float64
 22  revol_bal                   532428 non-null  float64
 23  revol_util                  532141 non-null  float64
 24  total_acc                   532412 non-null  float64
 25  initial_list_status         532428 non-null  int64
 26  total_rec_int               532428 non-null  float64
 27  total_rec_late_fee          532428 non-null  float64
 28  recoveries                  532428 non-null  float64
 29  collection_recovery_fee     532428 non-null  float64
 30  collections_12_mths_ex_med  532333 non-null  float64
 31  application_type            532428 non-null  int64
 32  last_week_pay               521814 non-null  float64
 33  acc_now_delinq              532412 non-null  float64
 34  tot_coll_amt                490424 non-null  float64
 35  tot_cur_bal                 490424 non-null  float64
 36  total_rev_hi_lim            490424 non-null  float64
 37  loan_status                 532428 non-null  int64
dtypes: float64(23), int64(15)
memory usage: 154.4 MB

In [26]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354951 entries, 0 to 354950
Data columns (total 37 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   member_id                   354951 non-null  int64
 1   loan_amnt                   354951 non-null  int64
 2   funded_amnt                 354951 non-null  int64
 3   funded_amnt_inv             354951 non-null  float64
 4   term                        354951 non-null  int64
 5   int_rate                    354951 non-null  float64
 6   grade                       354951 non-null  int64
 7   sub_grade                   354951 non-null  int64
 8   emp_length                  337017 non-null  float64
 9   home_ownership              354951 non-null  int64
 10  annual_inc                  354950 non-null  float64
 11  verification_status         354951 non-null  int64
 12  pymnt_plan                  354951 non-null  int64
 13  purpose                     354951 non-null  int64
 14  zip_code                    354951 non-null  int64
 15  addr_state                  354951 non-null  int64
 16  dti                         354951 non-null  float64
 17  delinq_2yrs                 354938 non-null  float64
 18  inq_last_6mths              354938 non-null  float64
 19  mths_since_last_delinq      173193 non-null  float64
 20  open_acc                    354938 non-null  float64
 21  pub_rec                     354938 non-null  float64
 22  revol_bal                   354951 non-null  int64
 23  revol_util                  354736 non-null  float64
 24  total_acc                   354938 non-null  float64
 25  initial_list_status         354951 non-null  int64
 26  total_rec_int               354951 non-null  float64
 27  total_rec_late_fee          354951 non-null  float64
 28  recoveries                  354951 non-null  float64
 29  collection_recovery_fee     354951 non-null  float64
 30  collections_12_mths_ex_med  354901 non-null  float64
 31  application_type            354951 non-null  int64
 32  last_week_pay               347906 non-null  float64
 33  acc_now_delinq              354938 non-null  float64
 34  tot_coll_amt                326679 non-null  float64
 35  tot_cur_bal                 326679 non-null  float64
 36  total_rev_hi_lim            326679 non-null  float64
dtypes: float64(22), int64(15)
memory usage: 100.2 MB

In [27]:
df_train.isna().sum()

member_id                          0
loan_amnt                          0
funded_amnt                        0
funded_amnt_inv                    0
term                               0
int_rate                           0
grade                              0
sub_grade                          0
emp_length                     26891
home_ownership                     0
annual_inc                         3
verification_status                0
pymnt_plan                         0
purpose                            0
zip_code                           0
addr_state                         0
dti                                0
delinq_2yrs                       16
inq_last_6mths                    16
mths_since_last_delinq        272554
open_acc                          16
pub_rec                           16
revol_bal                          0
revol_util                       287
total_acc                         16
initial_list_status                0
total_rec_int                      0
total_rec_late_fee                 0
recoveries                         0
collection_recovery_fee            0
collections_12_mths_ex_med        95
application_type                   0
last_week_pay                  10614
acc_now_delinq                    16
tot_coll_amt                   42004
tot_cur_bal                    42004
total_rev_hi_lim               42004
loan_status                        0
dtype: int64

In [28]:
df_test.isna().sum()

member_id                          0
loan_amnt                          0
funded_amnt                        0
funded_amnt_inv                    0
term                               0
int_rate                           0
grade                              0
sub_grade                          0
emp_length                     17934
home_ownership                     0
annual_inc                         1
verification_status                0
pymnt_plan                         0
purpose                            0
zip_code                           0
addr_state                         0
dti                                0
delinq_2yrs                       13
inq_last_6mths                    13
mths_since_last_delinq        181758
open_acc                          13
pub_rec                           13
revol_bal                          0
revol_util                       215
total_acc                         13
initial_list_status                0
total_rec_int                      0
total_rec_late_fee                 0
recoveries                         0
collection_recovery_fee            0
collections_12_mths_ex_med        50
application_type                   0
last_week_pay                   7045
acc_now_delinq                    13
tot_coll_amt                   28272
tot_cur_bal                    28272
total_rev_hi_lim               28272
dtype: int64

In [29]:
#Fill na

In [30]:
emp_length_mean = df_train['emp_length'].mean(skipna = True)
df_train['emp_length'].fillna(emp_length_mean,inplace = True)    
emp_length_mean = df_test['emp_length'].mean(skipna = True)
df_test['emp_length'].fillna(emp_length_mean,inplace = True)

In [31]:
delinq_2yrs_mean = df_train['delinq_2yrs'].mean(skipna = True)
df_train['delinq_2yrs'].fillna(delinq_2yrs_mean,inplace = True)    
delinq_2yrs_mean = df_test['delinq_2yrs'].mean(skipna = True)
df_test['delinq_2yrs'].fillna(delinq_2yrs_mean,inplace = True)

In [32]:
inq_last_6mths_mean = df_train['inq_last_6mths'].mean(skipna = True)
df_train['inq_last_6mths'].fillna(inq_last_6mths_mean,inplace = True)    

inq_last_6mths_mean = df_test['inq_last_6mths'].mean(skipna = True)
df_test['inq_last_6mths'].fillna(inq_last_6mths_mean,inplace = True)

In [33]:
mths_since_last_delinq_mean = df_train['mths_since_last_delinq'].mean(skipna = True)
df_train['mths_since_last_delinq'].fillna(mths_since_last_delinq_mean,inplace = True)    

mths_since_last_delinq_mean = df_test['mths_since_last_delinq'].mean(skipna = True)
df_test['mths_since_last_delinq'].fillna(mths_since_last_delinq_mean,inplace = True)

In [34]:
mths_since_last_delinq_mean = df_train['mths_since_last_delinq'].mean(skipna = True)
df_train['mths_since_last_delinq'].fillna(mths_since_last_delinq_mean,inplace = True)    

mths_since_last_delinq_mean = df_test['mths_since_last_delinq'].mean(skipna = True)
df_test['mths_since_last_delinq'].fillna(mths_since_last_delinq_mean,inplace = True)

In [35]:
open_acc_mean = df_train['open_acc'].mean(skipna = True)
df_train['open_acc'].fillna(open_acc_mean,inplace = True)    

open_acc_mean = df_test['open_acc'].mean(skipna = True)
df_test['open_acc'].fillna(open_acc_mean,inplace = True)

In [36]:
pub_rec_mean = df_train['pub_rec'].mean(skipna = True)
df_train['pub_rec'].fillna(pub_rec_mean,inplace = True)    
pub_rec_mean = df_test['pub_rec'].mean(skipna = True)
df_test['pub_rec'].fillna(pub_rec_mean,inplace = True)

In [37]:
revol_util_mean = df_train['revol_util'].mean(skipna = True)
df_train['revol_util'].fillna(revol_util_mean,inplace = True) 
revol_util_mean = df_test['revol_util'].mean(skipna = True)
df_test['revol_util'].fillna(revol_util_mean,inplace = True)

In [38]:
total_acc_mean = df_train['total_acc'].mean(skipna = True)
df_train['total_acc'].fillna(total_acc_mean,inplace = True)   

total_acc_mean = df_test['total_acc'].mean(skipna = True)
df_test['total_acc'].fillna(total_acc_mean,inplace = True)

In [39]:
collections_12_mths_ex_med_mean = df_train['collections_12_mths_ex_med'].mean(skipna = True)
df_train['collections_12_mths_ex_med'].fillna(collections_12_mths_ex_med_mean,inplace = True)    

collections_12_mths_ex_med_mean = df_test['collections_12_mths_ex_med'].mean(skipna = True)
df_test['collections_12_mths_ex_med'].fillna(collections_12_mths_ex_med_mean,inplace = True)

In [40]:
last_week_pay_mean = df_train['last_week_pay'].mean(skipna = True)
df_train['last_week_pay'].fillna(last_week_pay_mean,inplace = True)    

last_week_pay_mean = df_test['last_week_pay'].mean(skipna = True)
df_test['last_week_pay'].fillna(last_week_pay_mean,inplace = True)

In [41]:
acc_now_delinq_mean = df_train['acc_now_delinq'].mean(skipna = True)
df_train['acc_now_delinq'].fillna(acc_now_delinq_mean,inplace = True)    

acc_now_delinq_mean = df_test['acc_now_delinq'].mean(skipna = True)
df_test['acc_now_delinq'].fillna(acc_now_delinq_mean,inplace = True)

In [42]:
tot_coll_amt_mean = df_train['tot_coll_amt'].mean(skipna = True)
df_train['tot_coll_amt'].fillna(tot_coll_amt_mean,inplace = True)    

tot_coll_amt_mean = df_test['tot_coll_amt'].mean(skipna = True)
df_test['tot_coll_amt'].fillna(tot_coll_amt_mean,inplace = True)

In [43]:
tot_cur_bal_mean = df_train['tot_cur_bal'].mean(skipna = True)
df_train['tot_cur_bal'].fillna(tot_cur_bal_mean,inplace = True)    

tot_cur_bal_mean = df_test['tot_cur_bal'].mean(skipna = True)
df_test['tot_cur_bal'].fillna(tot_cur_bal_mean,inplace = True)

In [44]:
total_rev_hi_lim_mean = df_train['total_rev_hi_lim'].mean(skipna = True)
df_train['total_rev_hi_lim'].fillna(total_rev_hi_lim_mean,inplace = True)    

total_rev_hi_lim_mean = df_test['total_rev_hi_lim'].mean(skipna = True)
df_test['total_rev_hi_lim'].fillna(total_rev_hi_lim_mean,inplace = True)

In [45]:
annual_inc_mean = df_train['annual_inc'].mean(skipna = True)
df_train['annual_inc'].fillna(annual_inc_mean,inplace = True)    

annual_inc_mean = df_test['annual_inc'].mean(skipna = True)
df_test['annual_inc'].fillna(annual_inc_mean,inplace = True)

In [46]:
#loan_to_income
df_train['loan_to_income'] = df_train['annual_inc']/df_train['funded_amnt_inv']

df_test['loan_to_income'] = df_test['annual_inc']/df_test['funded_amnt_inv']

In [47]:
 #Total number of  credit account

df_train['credit_account'] = df_train['total_acc'] - df_train['open_acc']
#print(df_train['credit_account'])
df_test['credit_account'] = df_test['total_acc'] - df_test['open_acc']

In [48]:
print(df_train.columns)

Index(['member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term',
       'int_rate', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'pymnt_plan', 'purpose',
       'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'inq_last_6mths',
       'mths_since_last_delinq', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'collections_12_mths_ex_med', 'application_type', 'last_week_pay',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim',
       'loan_status', 'loan_to_income', 'credit_account'],
      dtype='object')

In [49]:
import numpy as np

In [50]:
print(df_train[~df_train.applymap(np.isreal).all(1)])

Empty DataFrame
Columns: [member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, grade, sub_grade, emp_length, home_ownership, annual_inc, verification_status, pymnt_plan, purpose, zip_code, addr_state, dti, delinq_2yrs, inq_last_6mths, mths_since_last_delinq, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, collections_12_mths_ex_med, application_type, last_week_pay, acc_now_delinq, tot_coll_amt, tot_cur_bal, total_rev_hi_lim, loan_status, loan_to_income, credit_account]
Index: []

[0 rows x 40 columns]

In [51]:
print(df_test[~df_test.applymap(np.isreal).all(1)])

Empty DataFrame
Columns: [member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, grade, sub_grade, emp_length, home_ownership, annual_inc, verification_status, pymnt_plan, purpose, zip_code, addr_state, dti, delinq_2yrs, inq_last_6mths, mths_since_last_delinq, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, collections_12_mths_ex_med, application_type, last_week_pay, acc_now_delinq, tot_coll_amt, tot_cur_bal, total_rev_hi_lim, loan_to_income, credit_account]
Index: []

[0 rows x 39 columns]

In [52]:
# df_train.to_csv("df_train.csv",index = None)
# df_test.to_csv("df_test.csv",index = None)

In [53]:
test_member_id = pd.DataFrame(df_test['member_id'])

In [54]:
train_target = pd.DataFrame(df_train['loan_status'])

In [55]:
cols = list(df_train.columns)
print(cols)
cols.remove("loan_status")
print(cols)
cols.remove("member_id")
cols

['member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'grade', 'sub_grade', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'pymnt_plan', 'purpose', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'collections_12_mths_ex_med', 'application_type', 'last_week_pay', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim', 'loan_status', 'loan_to_income', 'credit_account']
['member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'grade', 'sub_grade', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'pymnt_plan', 'purpose', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'collections_12_mths_ex_med', 'application_type', 'last_week_pay', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim', 'loan_to_income', 'credit_account']

['loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'grade',
 'sub_grade',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'pymnt_plan',
 'purpose',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'collections_12_mths_ex_med',
 'application_type',
 'last_week_pay',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'total_rev_hi_lim',
 'loan_to_income',
 'credit_account']

In [56]:
finalTrain = df_train[cols]
finalTest = df_test[cols]
print(finalTrain.shape)

(532428, 38)

In [57]:
from sklearn.model_selection import train_test_split
import numpy as np
# Split train and cross validation sets
X_train, X_test, y_train, y_test = train_test_split(np.array(finalTrain), np.array(train_target), test_size=0.30)
eval_set=[(X_test, y_test)]

In [58]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)
np.isnan(X_train)
print(np.where(np.isnan(X_train)))
np.nan_to_num(X_train)


np.isnan(X_test)
print(np.where(np.isnan(X_test)))
np.nan_to_num(X_test)


np.isnan(y_train)
print((np.where(np.isnan(y_train))))
np.nan_to_num(y_train)

np.isnan(y_test)
print((np.where(np.isnan(y_test))))
np.nan_to_num(y_test)

(372699, 38)
(159729, 38)
(372699, 1)
(159729, 1)
(array([], dtype=int64), array([], dtype=int64))
(array([], dtype=int64), array([], dtype=int64))
(array([], dtype=int64), array([], dtype=int64))
(array([], dtype=int64), array([], dtype=int64))

array([[0],
       [0],
       [1],
       ...,
       [1],
       [0],
       [0]], dtype=int64)

In [59]:
X_train.shape

(372699, 38)

In [60]:
X_test.shape

(159729, 38)

In [61]:
from sklearn.model_selection import train_test_split
import numpy as np
# Split train and cross validation sets
X_train, X_test, y_train, y_test = train_test_split(np.array(finalTrain), np.array(train_target), test_size=0.30)
eval_set=[(X_test, y_test)]

In [62]:
import numpy as np
import xgboost
from sklearn.metrics import accuracy_score
from sklearn.metrics import auc
from sklearn.metrics import roc_auc_score

In [63]:
print('Initializing xgboost.sklearn.XGBClassifier and starting training...')


clf = xgboost.sklearn.XGBClassifier(
    objective="binary:logistic", 
    learning_rate=0.05, 
    seed=9616, 
    max_depth=20, 
    gamma=10, 
    n_estimators=200)

clf.fit(X_train, y_train, early_stopping_rounds=20, eval_metric="auc", eval_set=eval_set)


y_pred = clf.predict(X_test)
submission_file_name = 'Submission_'

accuracy = accuracy_score(np.array(y_test).flatten(), y_pred)
print("Accuracy: %.10f%%" % (accuracy * 100.0))
submission_file_name = submission_file_name + ("_Accuracy_%.6f" % (accuracy * 100)) + '_'

accuracy_per_roc_auc = roc_auc_score(np.array(y_test).flatten(), y_pred)
print("ROC-AUC: %.10f%%" % (accuracy_per_roc_auc * 100))
submission_file_name = submission_file_name + ("_ROC-AUC_%.6f" % (accuracy_per_roc_auc * 100))

Initializing xgboost.sklearn.XGBClassifier and starting training...

C:\Users\sparekh\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[0]	validation_0-auc:0.88640
Will train until validation_0-auc hasn't improved in 20 rounds.
[1]	validation_0-auc:0.89292
[2]	validation_0-auc:0.89580
[3]	validation_0-auc:0.89965
[4]	validation_0-auc:0.90333
[5]	validation_0-auc:0.90432
[6]	validation_0-auc:0.90647
[7]	validation_0-auc:0.90703
[8]	validation_0-auc:0.90915
[9]	validation_0-auc:0.91043
[10]	validation_0-auc:0.91141
[11]	validation_0-auc:0.91305
[12]	validation_0-auc:0.91598
[13]	validation_0-auc:0.91775
[14]	validation_0-auc:0.91882
[15]	validation_0-auc:0.92075
[16]	validation_0-auc:0.92127
[17]	validation_0-auc:0.92190
[18]	validation_0-auc:0.92234
[19]	validation_0-auc:0.92256
[20]	validation_0-auc:0.92270
[21]	validation_0-auc:0.92368
[22]	validation_0-auc:0.92392
[23]	validation_0-auc:0.92410
[24]	validation_0-auc:0.92434
[25]	validation_0-auc:0.92449
[26]	validation_0-auc:0.92469
[27]	validation_0-auc:0.92484
[28]	validation_0-auc:0.92508
[29]	validation_0-auc:0.92515
[30]	validation_0-auc:0.92546
[31]	validation_0-auc:0.92556
[32]	validation_0-auc:0.92561
[33]	validation_0-auc:0.92598
[34]	validation_0-auc:0.92632
[35]	validation_0-auc:0.92643
[36]	validation_0-auc:0.92680
[37]	validation_0-auc:0.92714
[38]	validation_0-auc:0.92734
[39]	validation_0-auc:0.92797
[40]	validation_0-auc:0.92843
[41]	validation_0-auc:0.92873
[42]	validation_0-auc:0.92903
[43]	validation_0-auc:0.92923
[44]	validation_0-auc:0.92938
[45]	validation_0-auc:0.92949
[46]	validation_0-auc:0.92955
[47]	validation_0-auc:0.92968
[48]	validation_0-auc:0.92995
[49]	validation_0-auc:0.93037
[50]	validation_0-auc:0.93063
[51]	validation_0-auc:0.93072
[52]	validation_0-auc:0.93092
[53]	validation_0-auc:0.93104
[54]	validation_0-auc:0.93116
[55]	validation_0-auc:0.93127
[56]	validation_0-auc:0.93136
[57]	validation_0-auc:0.93138
[58]	validation_0-auc:0.93152
[59]	validation_0-auc:0.93163
[60]	validation_0-auc:0.93175
[61]	validation_0-auc:0.93222
[62]	validation_0-auc:0.93242
[63]	validation_0-auc:0.93265
[64]	validation_0-auc:0.93312
[65]	validation_0-auc:0.93322
[66]	validation_0-auc:0.93336
[67]	validation_0-auc:0.93353
[68]	validation_0-auc:0.93358
[69]	validation_0-auc:0.93363
[70]	validation_0-auc:0.93405
[71]	validation_0-auc:0.93450
[72]	validation_0-auc:0.93462
[73]	validation_0-auc:0.93467
[74]	validation_0-auc:0.93487
[75]	validation_0-auc:0.93500
[76]	validation_0-auc:0.93503
[77]	validation_0-auc:0.93511
[78]	validation_0-auc:0.93520
[79]	validation_0-auc:0.93529
[80]	validation_0-auc:0.93534
[81]	validation_0-auc:0.93537
[82]	validation_0-auc:0.93550
[83]	validation_0-auc:0.93564
[84]	validation_0-auc:0.93589
[85]	validation_0-auc:0.93616
[86]	validation_0-auc:0.93643
[87]	validation_0-auc:0.93649
[88]	validation_0-auc:0.93654
[89]	validation_0-auc:0.93700
[90]	validation_0-auc:0.93707
[91]	validation_0-auc:0.93710
[92]	validation_0-auc:0.93713
[93]	validation_0-auc:0.93718
[94]	validation_0-auc:0.93740
[95]	validation_0-auc:0.93744
[96]	validation_0-auc:0.93763
[97]	validation_0-auc:0.93773
[98]	validation_0-auc:0.93776
[99]	validation_0-auc:0.93784
[100]	validation_0-auc:0.93788
[101]	validation_0-auc:0.93796
[102]	validation_0-auc:0.93801
[103]	validation_0-auc:0.93809
[104]	validation_0-auc:0.93812
[105]	validation_0-auc:0.93818
[106]	validation_0-auc:0.93820
[107]	validation_0-auc:0.93834
[108]	validation_0-auc:0.93843
[109]	validation_0-auc:0.93843
[110]	validation_0-auc:0.93852
[111]	validation_0-auc:0.93855
[112]	validation_0-auc:0.93856
[113]	validation_0-auc:0.93865
[114]	validation_0-auc:0.93879
[115]	validation_0-auc:0.93907
[116]	validation_0-auc:0.93915
[117]	validation_0-auc:0.93919
[118]	validation_0-auc:0.93922
[119]	validation_0-auc:0.93930
[120]	validation_0-auc:0.93943
[121]	validation_0-auc:0.93948
[122]	validation_0-auc:0.93954
[123]	validation_0-auc:0.93957
[124]	validation_0-auc:0.93968
[125]	validation_0-auc:0.93969
[126]	validation_0-auc:0.93973
[127]	validation_0-auc:0.93984
[128]	validation_0-auc:0.93987
[129]	validation_0-auc:0.93992
[130]	validation_0-auc:0.93999
[131]	validation_0-auc:0.94014
[132]	validation_0-auc:0.94015
[133]	validation_0-auc:0.94031
[134]	validation_0-auc:0.94034
[135]	validation_0-auc:0.94035
[136]	validation_0-auc:0.94040
[137]	validation_0-auc:0.94041
[138]	validation_0-auc:0.94056
[139]	validation_0-auc:0.94059
[140]	validation_0-auc:0.94063
[141]	validation_0-auc:0.94064
[142]	validation_0-auc:0.94076
[143]	validation_0-auc:0.94080
[144]	validation_0-auc:0.94090
[145]	validation_0-auc:0.94105
[146]	validation_0-auc:0.94114
[147]	validation_0-auc:0.94121
[148]	validation_0-auc:0.94129
[149]	validation_0-auc:0.94130
[150]	validation_0-auc:0.94145
[151]	validation_0-auc:0.94167
[152]	validation_0-auc:0.94174
[153]	validation_0-auc:0.94174
[154]	validation_0-auc:0.94181
[155]	validation_0-auc:0.94183
[156]	validation_0-auc:0.94189
[157]	validation_0-auc:0.94191
[158]	validation_0-auc:0.94213
[159]	validation_0-auc:0.94213
[160]	validation_0-auc:0.94220
[161]	validation_0-auc:0.94222
[162]	validation_0-auc:0.94226
[163]	validation_0-auc:0.94226
[164]	validation_0-auc:0.94227
[165]	validation_0-auc:0.94232
[166]	validation_0-auc:0.94233
[167]	validation_0-auc:0.94243
[168]	validation_0-auc:0.94243
[169]	validation_0-auc:0.94248
[170]	validation_0-auc:0.94249
[171]	validation_0-auc:0.94251
[172]	validation_0-auc:0.94255
[173]	validation_0-auc:0.94259
[174]	validation_0-auc:0.94277
[175]	validation_0-auc:0.94279
[176]	validation_0-auc:0.94282
[177]	validation_0-auc:0.94290
[178]	validation_0-auc:0.94297
[179]	validation_0-auc:0.94299
[180]	validation_0-auc:0.94311
[181]	validation_0-auc:0.94314
[182]	validation_0-auc:0.94317
[183]	validation_0-auc:0.94318
[184]	validation_0-auc:0.94320
[185]	validation_0-auc:0.94320
[186]	validation_0-auc:0.94325
[187]	validation_0-auc:0.94327
[188]	validation_0-auc:0.94327
[189]	validation_0-auc:0.94329
[190]	validation_0-auc:0.94333
[191]	validation_0-auc:0.94334
[192]	validation_0-auc:0.94334
[193]	validation_0-auc:0.94334
[194]	validation_0-auc:0.94334
[195]	validation_0-auc:0.94334
[196]	validation_0-auc:0.94334
[197]	validation_0-auc:0.94334
[198]	validation_0-auc:0.94334
[199]	validation_0-auc:0.94334
Accuracy: 91.6489804607%
ROC-AUC: 85.0075406307%

NameError: name 'df_output' is not defined

In [64]:
print(y_pred)

[0 0 1 ... 0 1 0]

In [66]:

df_output = pd.DataFrame()
df_output['test_member_id'] = df_test['member_id']
print(clf.predict_proba(np.array(finalTest)))

df_output['loan_status'] = clf.predict_proba(np.array(finalTest))[:,[1]]


df_output.to_csv(submission_file_name+ ".csv", index=False)
df_output.shape
df_output.to_csv("submission_xgb_200.csv", index=False)
df_output

[[0.9198698  0.08013025]
 [0.88237566 0.11762436]
 [0.9359307  0.06406928]
 ...
 [0.8895128  0.11048722]
 [0.9623152  0.0376848 ]
 [0.7400668  0.25993317]]

        test_member_id  loan_status
0             11937648     0.080130
1             38983318     0.117624
2             27999917     0.064069
3             61514932     0.057167
4             59622821     0.046457
...                ...          ...
354946        19145105     0.076165
354947        46304777     0.333027
354948          903745     0.110487
354949        53032475     0.037685
354950          994245     0.259933

[354951 rows x 2 columns]

In [67]:
eval_set=[(X_test, y_test)]

In [68]:
print('Initializing xgboost.sklearn.XGBClassifier and starting training...')


clf = xgboost.sklearn.XGBClassifier(
    objective="binary:logistic", 
    learning_rate=0.05, 
    seed=9616, 
    max_depth=20, 
    gamma=10, 
    n_estimators=200)

clf.fit(finalTrain, train_target)


y_pred = clf.predict(finalTest)

Initializing xgboost.sklearn.XGBClassifier and starting training...

C:\Users\sparekh\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [69]:
df_output = pd.DataFrame()
df_output['test_member_id'] = df_test['member_id']
print(clf.predict_proba(np.array(finalTest)))
df_output['loan_status'] = clf.predict_proba(np.array(finalTest))[:,[1]]


df_output.shape
df_output.to_csv("submission_xgb_200_final.csv", index=False)
df_output

[[0.9336975  0.0663025 ]
 [0.84742725 0.15257274]
 [0.944753   0.05524703]
 ...
 [0.8883864  0.11161359]
 [0.9756266  0.02437342]
 [0.8725029  0.12749709]]

        test_member_id  loan_status
0             11937648     0.066303
1             38983318     0.152573
2             27999917     0.055247
3             61514932     0.051482
4             59622821     0.049256
...                ...          ...
354946        19145105     0.070862
354947        46304777     0.298769
354948          903745     0.111614
354949        53032475     0.024373
354950          994245     0.127497

[354951 rows x 2 columns]

In [72]:
df_output[df_output['loan_status'] > 0.5].shape

(59505, 2)